  <div class="container shared">
    <div class="col-md-3"></div>
    <div class="col-md-6 animate-box">
      <h2><b class="first_green">W</b>elcome <b class="first_green">t</b>o <%= image_tag(asset_path "logo.png") %> <b class="first_green">W</b>ebsite </h2>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="container shared">
    <div class="row">
      <div class="col-lg-6">
        <b class="first_green"> Our Mission</b>
        <p>Increase access to high-quality education for everyone, everywhere
          Enhance teaching and learning on campus and online
          Advance teaching and learning through research</p>
        <b class="first_green">You, Our Global Learning Community</b>
        <p>
          Our students come from every country in the world! Whether you are interested in computer science, languages, engineering, psychology, writing, electronics, biology, or marketing, we have the course for you! Enroll today and learn something new.
        </p></div>
      <div class="col-lg-6">
        <b class="first_green"> Our Story</b>
        <p>
          Founded by Harvard University and MIT in 2012, edX is an online learning destination and MOOC provider, offering high-quality courses from the world’s best universities and institutions to learners everywhere.

          With more than 90 global partners, we are proud to count the world’s leading universities, nonprofits, and institutions as our members. EdX university members top the QS World University Rankings® with our founders receiving the top honors, and edX partner institutions ranking highly on the full list.
        </p>
      </div>


    </div>
  </div>


  <style>
    .first_green{
      color: #2DC751;
    }
    .shared  img{
      vertical-align: 0px;
    }
  </style>

