#fh5co-contact{
  color: whitesmoke;
}
.shared {
  color: whitesmoke;

}
#back
{
  position: absolute;
  left:30px;
  top:30px;
}

.navbar-collapse{
  padding-right: 10px;
}
#go_back i {
  color: darkblue;
}
#will_paging{
  text-align: center;
}

#chosen_cat {
  height:40px;
  width:100%;
}
.modal-footer{
  border: hidden ;
}

